.vscode/
src/contacts
# Qt Creator
*.pro.user
*.pro.user.*
.qtcreator/

# Build output
build/
*.o
*.obj
Makefile
moc_*.cpp
ui_*.h
qrc_*.cpp
*.moc

# OS files
.DS_Store
Thumbs.db
project_root/src/db_config.h